@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
}


/* global tags */

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/* Navigation */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav img {
    width: 193px;
    margin-left: 20px;
    cursor: pointer;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 25px;
    margin-right: 200px;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}