<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PT.GAM</title>
    <link rel="shortcut icon" href="../static/assets (4)/img/favicon-removebg-preview.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/assets (4)/css/index.css">
    <link rel="stylesheet" href="../static/assets (4)/css/global.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>

<body>
    <div class="desktop-3">
        <nav class="rectangle-parent">
            <img class="frame-child" alt="" src="../static/assets (4)/img/asset 0.png">
            <div class="frame-parent">
                <div class="home-wrapper">
                    <a href="/">
                        <div class="home">Home</div>
                    </a>
                </div>
                <div class="home-wrapper dropdown">
                    <div class="home">About us</div>
                    <div class="dropdown-content home">
                        <a href="/history">History</a>
                        <a href="/visimisi">Visi & Misi</a>
                        <a href="/product">Product</a>
                        <a href="/gallery">Gallery</a>
                    </div>
                </div>
                <div class="home-wrapper">
                    <a href="/contactus">
                        <div class="home">Contact us</div>
                    </a>
                </div>
                <div class="login-wrapper">
                    <a href="/login" class="home">
                        <div class="home login-teks">Login</div>
                    </a>
                </div>
            </div>
        </nav>

        <div class="desktop-3-child">
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../static/assets (4)/drive-download-20230910T075804Z-001/asset 3.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/assets (4)/drive-download-20230910T075804Z-001/asset 1.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/assets (4)/drive-download-20230910T075804Z-001/asset 5.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="about-us-parent" data-aos="fade-up" data-aos-duration="1500">
            <div class="about-us1">About us</div>
            <div class="frame-item">
            </div>
        </div>
        <div class="history-of-ptganda" data-aos="fade-up" data-aos-duration="1700">History of PT.Ganda Alam Makmur
        </div>
        <div class="ptganda-alam-makmur-container" data-aos="fade-up" data-aos-duration="1750">
            <p class="ptganda-alam-makmur-pt-gam">
                <span class="ptganda-alam-makmur">PT.Ganda Alam Makmur (PT GAM)</span>
                <span class="span"> </span>
                <span class="is-a-company">is a company</span>
            </p>
            <p class="holding-a-foreign">holding a Foreign Investment Production Operation</p>
            <p class="holding-a-foreign">Mining Business License (IUP OP PMA) located in</p>
            <p class="holding-a-foreign">East Kutai Regency, East Kalimantan Province. PT</p>
            <p class="holding-a-foreign">GAM is currently entering into a corporate joint</p>
            <p class="holding-a-foreign">operation between LX International and PT Titan</p>
            <p class="holding-a-foreign">Mining Indonesia which is engaged in coal mining.</p>
        </div>
        <img class="desktop-3-item" data-aos="fade-up" data-aos-duration="1900" alt=""
            src="../static/assets (4)/drive-download-20230910T075804Z-001/asset 1.png">

        <div class="group-78-button" data-aos="fade-up" data-aos-duration="1800">
            <div class="group-78-button-child" id="rectangle1">
            </div>
            <a href="history.html#history2">
                <div class="read-more" id="readMoreText">Read more</div>
            </a>
        </div>
        <div class="galery-of-pt-ganda-alam-makmur-parent" data-aos="fade-up" data-aos-duration="1700">
            <div class="galery-of-pt">Galery of PT Ganda Alam Makmur </div>
            <div class="frame-inner">
            </div>
        </div>
        <div class="rectangle-group" data-aos="fade-up" data-aos-duration="1900">
            <img class="group-child" alt="" src="../static/assets (4)/drive-download-20230910T075804Z-001/asset 2.png">
            <img class="group-item" alt="" src="../static/assets (4)/drive-download-20230910T075804Z-001/asset 4.jpeg">
            <img class="group-inner" alt="" src="../static/assets (4)/drive-download-20230910T075804Z-001/asset 5.jpeg">
            <img class="rectangle-icon" alt="" src="../static/assets (4)/drive-download-20230910T075804Z-001/asset 6.jpeg">
        </div>
        <div class="our-partner-parent" data-aos="fade-up" data-aos-duration="1000">
            <div class="our-partner">Our partner</div>
            <div class="frame-item">
            </div>
        </div>
        <div class="desktop-3-inner logos">
            <div class="logos-slide">
                <img src="../static/assets (4)/drive-download-20230910T075804Z-001/logo-pt-samudra-maju-perkasa.png">
                <img src="../static/assets (4)/drive-download-20230910T075804Z-001/Lowongan Kerja Kaltim PT Borneo Mitra Jaya.png">
                <img src="../static/assets (4)/drive-download-20230910T075804Z-001/MNK.png">
                <img src="../static/assets (4)/drive-download-20230910T075804Z-001/hijau-transformed.png">
                <img src="../static/assets (4)/drive-download-20230910T075804Z-001/mum.png">
                <img
                    src="../static/assets (4)/drive-download-20230910T075804Z-001/Lowongan Kerja Kaltim PT Graha Prima Energi (GPE) September 2021.jpg">
                <img src="../static/assets (4)/drive-download-20230910T075804Z-001/andi-transformed.png">
            </div>
        </div>
        <div class="rectangle-container">
            <div class="group-child2">
            </div>
            <div class="rectangle-wrapper">
                <img class="group-child3" alt="" src="../static/assets (4)/img/asset 0.png">

            </div>
            <div class="material-symbolscall-sharp-parent">
                <img class="material-symbolscall-sharp-icon" alt="" src="../static/assets (4)/img/call.png">

                <img class="clarityemail-solid-icon" alt="" src="../static/assets (4)/img/mail.png">

                <div class="parent">
                    <div class="div">+ 62 21 5093 9000</div>
                    <div class="div1">+ 62 878 7892 9510</div>
                </div>
                <div class="nugie-geologistlgicokr-parent">
                    <div class="nugie-geologistlgicokr">
                        <p class="ptganda-alam-makmur-pt-gam">nugie_geologist@lgi.co.kr</p>
                    </div>
                    <div class="nugie-geologistptgamcom">nugie_geologist@ptgam.com</div>
                </div>
            </div>
            <div class="frame-div">
                <img class="frame-child1" alt="" src="../static/assets (4)/drive-download-20230910T075804Z-001/asset 9.png">

                <div class="pacific-century-place-container">
                    <p class="ptganda-alam-makmur-pt-gam">Pacific Century Place ID-</p>
                    <p class="ptganda-alam-makmur-pt-gam">CGK-PCP, Jalan Jendral</p>
                    <p class="ptganda-alam-makmur-pt-gam">Sudirman Kav. No.52-53, Lt</p>
                    <p class="ptganda-alam-makmur-pt-gam">33, RT.5/RW.3, Senayan, Kec.</p>
                    <p class="ptganda-alam-makmur-pt-gam">Kby. Baru, Kota Jakarta</p>
                    <p class="ptganda-alam-makmur-pt-gam">Selatan, Daerah Khusus</p>
                    <p class="ptganda-alam-makmur-pt-gam">Ibukota Jakarta 12190</p>
                </div>
            </div>
            <div class="jakarta-office">JAKARTA OFFICE</div>
            <div class="mine-site">MINE SITE</div>
            <div class="rectangle-parent1">
                <img class="frame-child1" alt="" src="../static/assets (4)/drive-download-20230910T075804Z-001/asset 10.png"> 
<!--  -->
                <div class="vv9fvh-sempayau-kec">4VV9+FVH, Sempayau, Kec. Sangkulirang, Kabupaten Kutai Timur,
                    Kalimantan Timur 75684</div>
            </div>
            <div class="our-partner-group">
                <div class="our-partner1">&gt; Our partner</div>
                <div class="partner">Partner</div>
            </div>
            <div class="contact-us-parent">
                <div class="contact-us1">Contact us</div>
                <a href="/contactus" style="text-decoration: none; color: black;"><div class="contact-us2" id="contactUsText2">&gt; Contact us</div></a>
                
            </div>
            <div class="group-parent">
                <div class="about-us-group">
                    <div class="about-us2">About us</div>
                    <a href="/history" style="text-decoration: none; color: black;"><div class="history" id="historyText">&gt; History</div></a>
                    <a href="/visimisi" style="text-decoration: none; color: black;"><div class="visi-misi" id="visiMisi">&gt; Visi & Misi</div></a>
                    <a href="/product" style="text-decoration: none; color: black;"><div class="produk" id="produkText">&gt; Produk</div></a>
                    <a href="/gallery" style="text-decoration: none; color: black;"><div class="gallery">&gt; Gallery</div></a>
                    
                </div>
                <div class="group-wrapper">
                    <div class="group-wrapper">
                        <div class="sitemap">Sitemap</div>
                        <div class="home1">&gt; Home</div>
                        <div class="about-us3">&gt; About us</div>
                        <div class="our-partner2">&gt; Our partner</div>
                        <div class="contact-us3">&gt; Contact us</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>


    <script>
        var rectangle1 = document.getElementById("rectangle1");
        if (rectangle1) {
            rectangle1.addEventListener("click", function (e) {
                // Add your code here
            });
        }

        var readMoreText = document.getElementById("readMoreText");
        if (readMoreText) {
            readMoreText.addEventListener("click", function (e) {
                // Add your code here
            });
        }

        var contactUsText2 = document.getElementById("contactUsText2");
        if (contactUsText2) {
            contactUsText2.addEventListener("click", function (e) {
                // Add your code here
            });
        }

        var historyText = document.getElementById("historyText");
        if (historyText) {
            historyText.addEventListener("click", function (e) {
                // Add your code here
            });
        }

        var visiMisi = document.getElementById("visiMisi");
        if (visiMisi) {
            visiMisi.addEventListener("click", function (e) {
                // Add your code here
            });
        }

        var produkText = document.getElementById("produkText");
        if (produkText) {
            produkText.addEventListener("click", function (e) {
                // Add your code here
            });
        }
    </script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <script>
        var copy = document.querySelector(".logos-slide").cloneNode(true);
        document.querySelector(".logos").appendChild(copy);
    </script>

</body>

</html>