<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>PT.GAM - Product</title>
    <link rel="shortcut icon" href="../assets (4)/favicon-removebg-preview.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets (4)/css/product.css" />
    <link rel="stylesheet" href="../assets (4)/css/global.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>

<body>

    <div class="about-us-product">
        <div class="rectangle-parent">
            <img class="group-child" alt="" src="../assets (4)/drive-download-20230910T075804Z-001/asset 3.png">

            <div class="product-parent">
                <b class="product">PRODUCT</b>
                <div class="frame-child">
                </div>
                <div class="about-us">About us / Product</div>
            </div>
        </div>
        <div class="rectangle-group">
            <div class="group-item">
            </div>
            <img class="group-inner" alt="" src="../assets (4)/img/Group 59.png">

        </div>
        <div class="location-sempayau-east-kuta-parent" data-aos="fade-right" data-aos-duration="1000">
            <div class="location-sempayau-container">
                <p class="location-sempayau">Location : Sempayau, East Kutai Timur, East Kalimantan</p>
                <p class="location-sempayau">Project Area : 10.600 HaMaximum</p>
                <p class="location-sempayau">Production : 20 million ton</p>
                <p class="location-sempayau">Reserve : 210 million ton (JORC Estimated)</p>
                <p class="location-sempayau">Mining Type : Open Pit Mining</p>
                <p class="location-sempayau">Coal Type : Sub Bituminuous Coal</p>
            </div>
            <div class="frame-item">
            </div>
            <div class="specification-of-coal-container">
                <p class="location-sempayau">Specification of Coal Product :</p>
                <p class="location-sempayau">Gross Calorie Value : 3400-4200 kkal/kg</p>
                <p class="location-sempayau">Inherent Moisture : 16-23 %</p>
                <p class="location-sempayau">Total Moisture : 36-48 %</p>
                <p class="location-sempayau">Total Sulphure : 0.3-2 %Ash : 3-7 %</p>
            </div>
        </div>

        <div class="rectangle-container">
            <img class="frame-inner" alt="" src="../assets (4)/img/asset 0.png">
            <div class="frame-parent">
                <div class="home-wrapper">
                    <a href="index.html">
                        <div class="home">Home</div>
                    </a>
                </div>
                <div class="home-wrapper dropdown">
                    <div class="home">About us</div>
                    <div class="dropdown-content home">
                        <a href="history.html">History</a>
                        <a href="visimisi.html">Visi & Misi</a>
                        <a href="product.html">Product</a>
                        <a href="gallery.html">Gallery</a>
                    </div>
                </div>
                <div class="home-wrapper">
                    <a href="contact.html">
                        <div class="home">Contact us</div>
                    </a>
                </div>
                <div class="login-wrapper">
                    <a href="login.html" class="home">
                        <div class="home login-teks">Login</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="group-div">
            <div class="rectangle-div">
            </div>
            <div class="rectangle-wrapper">
                <img class="rectangle-icon" alt="" src="../assets (4)/img/asset 0.png">

            </div>
            <div class="material-symbolscall-sharp-parent">
                <img class="material-symbolscall-sharp-icon" alt="" src="../assets (4)/img/call.png">

                <img class="clarityemail-solid-icon" alt="" src="../assets (4)/img/mail.png">

                <div class="parent">
                    <div class="div">+ 62 21 5093 9000</div>
                    <div class="div1">+ 62 878 7892 9510</div>
                </div>
                <div class="nugie-geologistlgicokr-parent">
                    <div class="nugie-geologistlgicokr">
                        <p class="location-sempayau">nugie_geologist@lgi.co.kr</p>
                    </div>
                    <div class="nugie-geologistptgamcom">nugie_geologist@ptgam.com</div>
                </div>
            </div>
            <div class="frame-div">
                <img class="frame-child1" alt="" src="../assets (4)/drive-download-20230910T075804Z-001/asset 9.png">

                <div class="pacific-century-place-container">
                    <p class="location-sempayau">Pacific Century Place ID-</p>
                    <p class="location-sempayau">CGK-PCP, Jalan Jendral</p>
                    <p class="location-sempayau">Sudirman Kav. No.52-53, Lt</p>
                    <p class="location-sempayau">33, RT.5/RW.3, Senayan, Kec.</p>
                    <p class="location-sempayau">Kby. Baru, Kota Jakarta</p>
                    <p class="location-sempayau">Selatan, Daerah Khusus</p>
                    <p class="location-sempayau">Ibukota Jakarta 12190</p>
                </div>
            </div>
            <div class="jakarta-office">JAKARTA OFFICE</div>
            <div class="mine-site">MINE SITE</div>
            <div class="rectangle-parent1">
                <img class="frame-child1" alt="" src="../assets (4)/drive-download-20230910T075804Z-001/asset 10.png">

                <div class="vv9fvh-sempayau-kec">4VV9+FVH, Sempayau, Kec. Sangkulirang, Kabupaten Kutai Timur,
                    Kalimantan Timur 75684</div>
            </div>
            <div class="our-partner-parent">
                <div class="our-partner">&gt; Our partner</div>
                <div class="partner">Partner</div>
            </div>
            <div class="contact-us-parent">
                <div class="contact-us1">Contact us</div>
                <div class="contact-us2" id="contactUsText2">&gt; Contact us</div>
            </div>
            <div class="group-parent">
                <div class="about-us-parent">
                    <div class="about-us2">About us</div>
                    <div class="history" id="historyText">&gt; History</div>
                    <div class="visi-misi" id="visiMisi">&gt; Visi & Misi</div>
                    <div class="produk" id="produkText">&gt; Produk</div>
                    <div class="gallery">&gt; Gallery</div>
                </div>
                <div class="group-wrapper">
                    <div class="group-wrapper">
                        <div class="sitemap">Sitemap</div>
                        <div class="home1">&gt; Home</div>
                        <div class="about-us3">&gt; About us</div>
                        <div class="our-partner1">&gt; Our partner</div>
                        <div class="contact-us3">&gt; Contact us</div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script>
        var contactUsText2 = document.getElementById("contactUsText2");
        if (contactUsText2) {
            contactUsText2.addEventListener("click", function (e) {
                // Add your code here
            });
        }

        var historyText = document.getElementById("historyText");
        if (historyText) {
            historyText.addEventListener("click", function (e) {
                // Add your code here
            });
        }

        var visiMisi = document.getElementById("visiMisi");
        if (visiMisi) {
            visiMisi.addEventListener("click", function (e) {
                // Add your code here
            });
        }

        var produkText = document.getElementById("produkText");
        if (produkText) {
            produkText.addEventListener("click", function (e) {
                window.location.href = "AboutUsProduct.html"
            });
        }</script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>