<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="../static/assets (4)/css/dashboard.css">


    <!-- <script> 
        function tambah(){
            let image=$('#image').val()
            let nama=$('#nama').val()
            
            $.ajak({
                type:'POST',
                url:'/tambah',
                data:{
                    image_give:image,
                    nama_give:nama,
                },
                success:function{response}{
                    alert(response.msg)
                    window.location.href ='/'
                }
            })
        }
    </script>
-->
</head>

<body>
    <div class="sidebar">
        <div class="logo"></div>
        <ul class="menu">
            <li>
                <a href="/dashboard">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="active">
                <a href="/tabel">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Tambah Data</span>
                </a>
            </li>
            <li>
                <a href="/pesan">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Pesan</span>
                </a>
            </li>
            <li class="logout">
                <a href="">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="main-content">
        <div class="header-wrapper">
            <div class="header-title">
                <span>PT Ganda Alam Makmur</span>
                <h2>Tambah data</h2>
            </div>
        </div>
        <div class="apa">
            <ol class="breadcrumb" style="text-decoration: none;">
                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                <li class="breadcrumb-item active">New Data</li>
            </ol>
        </div>
        <div class="card border-0 shadow mb-4 ">
            <div class="card-body mt-4">
                <div class="table-responsive">
                    <form action="" method="post">
                        <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">Massukan Gambar :</label>
                            <input class="form-control" type="file" id="image" accept=".png,.jpg,.jpeg" name="image"
                                placeholder="Enter the Image" required />
                        </div>
                        <br>
                        <div class="mb-3 ">
                            <button type="submit" onclick="tambah()" class="btn btn-success"
                                style="margin-left: 90%;">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
</body>

</html>