<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/assets (4)/css/text.css">

</head>
<body>

    <div class="container">
        <div class="image-container">
            <div class="image"><img src="../assets (4)/drive-download-20230910T075804Z-001/asset 1.png" alt=""></div>
            <div class="image"><img src="../assets (4)/drive-download-20230910T075804Z-001/asset 2.png" alt=""></div>
            <div class="image"><img src="../assets (4)/drive-download-20230910T075804Z-001/asset 3.png" alt=""></div>
            <div class="image"><img src="../assets (4)/drive-download-20230910T075804Z-001/asset 4.jpeg" alt=""></div>
            <div class="image"><img src="../assets (4)/drive-download-20230910T075804Z-001/asset 5.jpeg" alt=""></div>
            <div class="image"><img src="../assets (4)/drive-download-20230910T075804Z-001/asset 6.jpeg" alt=""></div>
        </div>
    </div>
    
</body>
</html>