<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>PT.GAM - Visi & Misi</title>
    <link rel="shortcut icon" href="../static/assets (4)/img/favicon-removebg-preview.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/assets (4)/css/visimisi.css" />
    <link rel="stylesheet" href="../static/assets (4)/css/global.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>

<body>

    <div class="about-us-visi-misi-muham">
        <div class="rectangle-parent">
            <img class="group-child" alt="" src="../static/assets (4)/drive-download-20230910T075804Z-001/asset 6.jpeg">

            <div class="vision-and-mission-parent">
                <b class="vision-and-mission">VISION AND MISSION</b>
                <div class="frame-child">
                </div>
                <div class="about-us">About us / History</div>
            </div>
        </div>
        <img class="about-us-visi-misi-muham-child" alt="" src="../static/assets (4)/img/Rectangle 55.png">

        <div class="group-parent" data-aos="fade-right" data-aos-duration="1000">
            <div class="sensitive-to-customers-and-ene-wrapper">
                <div class="sensitive-to-customers-container">
                    <p class="sensitive-to-customers">1.Sensitive to customers and energy needs for the public</p>
                    <p class="sensitive-to-customers">2.Keep on relentlessly to make improvements</p>
                    <p class="sensitive-to-customers">3.Always strive to forge ahead by sharpening competitive advantage
                    </p>
                    <p class="sensitive-to-customers">4.Become a solution maker and inspire others</p>
                </div>
            </div>
            <img class="asset-3-1" alt="" src="../static/assets (4)/img/asset 3.png">
        </div>
        <div class="group-container">
            <div class="to-be-the-leader-of-coal-energ-wrapper">
                <div class="to-be-the" data-aos="fade-right" data-aos-duration="1000">“To be the leader of coal energy producer through continously improvement by
                    building positive characteristic values that are different from others”.</div>
            </div>
            <img class="asset-1-1" data-aos="fade-right" data-aos-duration="1000" alt="" src="../static/assets (4)/img/asset 1.png">

        </div>
        <div class="group-div" data-aos="fade-right" data-aos-duration="1500">
            <div class="providing-coal-energy-resource-wrapper">
                <div class="providing-coal-energy-container">
                    <p class="sensitive-to-customers">1. Providing coal energy resources by prioritizing coal
                        conservation</p>
                    <p class="sensitive-to-customers">2. Supporting and prioritizing energy needs for the public
                        interest in addition to commercial aspects</p>
                    <p class="sensitive-to-customers">3. Optimizing Good Mining Practice in operations while continuing
                        to carry out continuous improvement</p>
                </div>
            </div>
            <img class="asset-2-1" alt="" src="../static/assets (4)/img/asset 2.png">
        </div>

        <div class="rectangle-group">
            <img class="frame-item" alt="" src="../static/assets (4)/img/asset 0.png">
            <div class="frame-parent">
                <div class="home-wrapper">
                    <a href="/">
                        <div class="home">Home</div>
                    </a>
                </div>
                <div class="home-wrapper dropdown">
                    <div class="home">About us</div>
                    <div class="dropdown-content home">
                        <a href="/history">History</a>
                        <a href="/visimisi">Visi & Misi</a>
                        <a href="/product">Product</a>
                        <a href="/gallery">Gallery</a>
                    </div>
                </div>
                <div class="home-wrapper">
                    <a href="/contactus">
                        <div class="home">Contact us</div>
                    </a>
                </div>
                <div class="login-wrapper"> 
                    <a href="/login" class="home">
                        <div class="home login-teks">Login</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="rectangle-container">
            <div class="group-item">
            </div>
            <div class="rectangle-wrapper">
                <img class="group-inner" alt="" src="../static/assets (4)/img/asset 0.png">

            </div>
            <div class="material-symbolscall-sharp-parent">
                <img class="material-symbolscall-sharp-icon" alt="" src="../static/assets (4)/img/call.png">

                <img class="clarityemail-solid-icon" alt="" src="../static/assets (4)/img/mail.png">

                <div class="parent">
                    <div class="div">+ 62 21 5093 9000</div>
                    <div class="div1">+ 62 878 7892 9510</div>
                </div>
                <div class="nugie-geologistlgicokr-parent">
                    <div class="nugie-geologistlgicokr">
                        <p class="sensitive-to-customers">nugie_geologist@lgi.co.kr</p>
                    </div>
                    <div class="nugie-geologistptgamcom">nugie_geologist@ptgam.com</div>
                </div>
            </div>
            <div class="frame-div">
                <img class="frame-inner" alt="" src="../static/assets (4)/drive-download-20230910T075804Z-001/asset 9.png">

                <div class="pacific-century-place-container">
                    <p class="sensitive-to-customers">Pacific Century Place ID-</p>
                    <p class="sensitive-to-customers">CGK-PCP, Jalan Jendral</p>
                    <p class="sensitive-to-customers">Sudirman Kav. No.52-53, Lt</p>
                    <p class="sensitive-to-customers">33, RT.5/RW.3, Senayan, Kec.</p>
                    <p class="sensitive-to-customers">Kby. Baru, Kota Jakarta</p>
                    <p class="sensitive-to-customers">Selatan, Daerah Khusus</p>
                    <p class="sensitive-to-customers">Ibukota Jakarta 12190</p>
                </div>
            </div>
            <div class="jakarta-office">JAKARTA OFFICE</div>
            <div class="mine-site">MINE SITE</div>
            <div class="rectangle-parent1">
                <img class="frame-inner" alt="" src="../static/assets (4)/drive-download-20230910T075804Z-001/asset 10.png">

                <div class="vv9fvh-sempayau-kec">4VV9+FVH, Sempayau, Kec. Sangkulirang, Kabupaten Kutai Timur,
                    Kalimantan Timur 75684</div>
            </div>
            <div class="our-partner-parent">
                <div class="our-partner">&gt; Our partner</div>
                <div class="partner">Partner</div>
            </div>
            <div class="contact-us-parent">
                <div class="contact-us1">Contact us</div>
                <div class="contact-us2" id="contactUsText2">&gt; <a href="/contactus"></a>Contact us</div>
            </div>
            <div class="group-parent1">
                <div class="about-us-parent">
                    <div class="about-us2">About us</div>
                    <div class="history" id="historyText">&gt; <a href="/history"></a>History</div>
                    <div class="visi-misi" id="visiMisi">&gt; <a href="/visimisi"></a>Visi & Misi</div>
                    <div class="produk" id="produkText">&gt; <a href="/product"></a>Produk</div>
                    <div class="gallery">&gt; <a href="/gallery"></a>Gallery</div>
                </div>
                <div class="group-wrapper">
                    <div class="group-wrapper">
                        <div class="sitemap">Sitemap</div>
                        <div class="home1">&gt; Home</div>
                        <div class="about-us3">&gt; About us</div>
                        <div class="our-partner1">&gt; Our partner</div>
                        <div class="contact-us3">&gt; Contact us</div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script>
        var contactUsText2 = document.getElementById("contactUsText2");
        if (contactUsText2) {
            contactUsText2.addEventListener("click", function (e) {
                // Add your code here
            });
        }

        var historyText = document.getElementById("historyText");
        if (historyText) {
            historyText.addEventListener("click", function (e) {
                // Add your code here
            });
        }

        var visiMisi = document.getElementById("visiMisi");
        if (visiMisi) {
            visiMisi.addEventListener("click", function (e) {
                window.location.href = "AboutUsVisiMisiMuham.html"
            });
        }

        var produkText = document.getElementById("produkText");
        if (produkText) {
            produkText.addEventListener("click", function (e) {
                // Add your code here
            });
        }</script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>